.form {
    display: grid;
    grid-template-columns: 1fr auto;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 5px;
}

.form__button {
    color: white;
    background-color: teal;
    border: none;
    padding: 10px;
    margin: 5px;
    flex-shrink: 0;
}