.list {
    list-style-type: none;
    padding-left: 0px;
}

.list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid #eee;
}

.list__content {
    flex-grow: 1;
}

@media (max-width: 767px) {
    .list__content {
        flex-wrap: wrap;
    }
}

.list__button {
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    margin: 10px;
}

.list__button--done {
    background-color: hsl(120, 100%, 27%);
}

.list__button--done:hover {
    background-color:  hsl(120, 100%, 37%);
}

.list__button--remove {
    background-color: hsl(0, 100%, 27%);
}

.list__button--remove:hover {
    background-color: hsl(0, 100%, 37%);
}

