.section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.section__header {
    background-color: white;
    padding: 15px;
    margin-bottom: 3px;
    display: flex;
}

.section__body {
    background-color: white;
    padding: 15px;
}